body {
    overflow-x: hidden !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    // font-family: "Roboto", sans-serif !important;
}

main {
    flex: 1 0 auto;
    min-height: 100%;
}

section {
    min-height: 100vh;
}

.index-container {
    section {
        min-height: 100vh;
    }
}

img.logo {
    width: 2rem !important;
    height: auto;
}
