<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{site.keywords}}" />
    <meta itemprop="name" content="{{site.title}}" />
    <meta itemprop="description" content="{{site.description}}" />
    <meta itemprop="image" content="{{site.url}}{{site.image}}" />
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:type" content="{{site.type}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:image" content="{{site.url}}{{site.image}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:image" content="{{site.url}}{{site.image}}" />
    <meta name="twitter:url" content="{{site.url}}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="shortcut icon" href="{{site.favicon | absolute_url}}" />
    <link href="{{'vendors.bundle.css' | absolute_url}}" rel="stylesheet" type="text/css">
    <link href="{{'site.css' | absolute_url}}" rel="stylesheet" type="text/css">
    <title>{{site.title}} | {{page.title}}</title>
</head>